@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800 */

.manrope-regular {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-medium {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.manrope-extra-bold {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  top: 215px;
  left: 375px;
  width: 6px;
  height: 941px;
  /* UI Properties */
  background: #e3e4e6 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  top: 215px;
  left: 375px;
  width: 6px;
  max-height: 100px;
  /* UI Properties */
  background: #072635 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}
